// Place all the styles related to the Entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.entries-list {
  max-width: 30em;
  margin: 0 auto;
  max-height: 20em;
  overflow-y: auto;
}
